.dropdown{
    height: 40px;
    margin: 10px;
    padding-left: 4px;
}

.dropdown>option{
    height: 40px;
}

.result{
    font-weight: bold;
    font-size:18px;
}

.fade {
    font-size: 18px;
    color: gray;
}

.highlight{
    font-size: 28px;
}